body{
    margin: 0;
}

.container{
    width: 100vw;
    height: 100vh;
   

}
.header{
    height: 50px;
    background-color: black;
    color: white;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-size: 30px;
    font-weight: bold;

}

.navs{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
nav{
    margin-right: 10px;
    margin-left: 10px;
}

.cards{
    width: 80%;
    height: 60vh;
    font-size: 60px;
    font-weight: bold;
    background-color: purple;
}