body{

    margin-bottom:50px;
  
    padding-bottom: 50px;
  
  }
  
  .header{
  
    background-color: white;
  
    color: black;
  
    box-shadow: 0px 0px 0.5px 0.5px;
  
    display: flex;
  
    justify-content: space-around;
  
    align-items: center;
  
    width: 100%;
  
  height: 70px;
  
  }
  
   
  
  .navbar{
  
    display: flex;
  
   
  
  }
  
  nav{
  
    margin-left: 10px;
  
    margin-right: 10px;
  
    font-weight: bold;
  
    font-size: 15px;
  
  }
  
   
  
  main{
  
    width: 100%;
  
    height: 70vh;
  
    display: flex;
  
    justify-content: space-around;
  
    align-items: center;
  
    background-color: rgb(239, 178, 239);
  
  }
  
   
  
  .text{
  
    width: 50%;
  
    height: 100%;
  
    margin-left: 20px;
  
  }
  
  .images{
  
    width: 50%;
  
    height: 100%;
  
  }
  
  img{
  
    object-fit: contain;
  
    width: 100%;
  
    height: 100%;
  
  }
  
  Ogbu Esther Uzoma says body{ margin: 0; padding: 0; } .header{ background-color: white; color: black; box-shadow: 0px 0px 0.5px 0.5px; display: flex; justify-content: space-around; align-items: center; width: 100%; height: 70px; } .navbar{ display: flex; } nav{ margin-left: 10px; margin-right: 10px; font-weight: bold; font-size: 15px; } main{ width: 100%; height: 70vh; display: flex; justify-content: space-around; align-items: center; background-color: rgb(239, 178, 239); } .text{ width: 50%; height: 100%; margin-left: 20px; } .images{ width: 50%; height: 100%; } img{ object-fit: contain; width: 100%; height: 100%; }
  